
$theme-color = #2196F3

// button
$button-primary-bg = #2196F3
$button-warning-bg = orange
$button-danger-bg = #FF3030
// $button-tap-active = rgba(0,0,0,0.1)

// dialog
$dialog-bg = #F4F4F4
$dialog-body-text-color = #888
$dialog-btn-primary-color = #0BB20C
$dialog-btn-bg-active = #E4E4E4
$dialog-title-height = 40px
$dialog-btn-height = 40px
