
$css-prefix = pf
$body-padding-bottom = .5rem
$theme-color = #2196F3
$theme-bgcolor = #FFF
$theme-textcolor = #000
$theme-textcolor-active = #FFF

// button
$button-primary-bg = #2196F3
$button-warning-bg = orange
$button-danger-bg = #FF3030
// $button-tap-active = rgba(0,0,0,0.1)

// dialog
$dialog-bg = #F4F4F4
$dialog-body-text-color = #888
$dialog-btn-primary-color = #0BB20C // 没用上
$dialog-btn-bg-active = #E4E4E4
$dialog-title-height = 40px
$dialog-btn-height = 40px

// navbar
$navbar-height = 44px
$navbar-padding = 8px
$navbar-title-font-weight = 50px
$navbar-title-line-height = 44px
$navbar-title-text-align = center
$navbar-title-margin-left = 0
$navbar-title-margin-right = 0

// subnavbar
$subnavbar-height = 44px
$subnavbar-padding = 8px

// tabbar
$tabbar-height = 44px
$tabbar-underline-height = 2px
$tabbar-height-capsule = 30px
$tabbar-fontsize = 14px
$tabbar-radius = 6px

// switch
$switch-main-border-color = #dfdfdf
$switch-main-bg = #fdfdfd
$switch-slider-bg = #fff

// cell
$cell-bg = #FFF
$cell-item-height = 50px
$cell-item-active = #F4F4F4
$cell-item-border-color = #ECECEC
$cell-item-right-color = #909090